html {
    font-size: 1rem;
}

.vikingsButtons {
    margin-bottom: 1.25rem;
}

.weekButtonGroup {
    margin-bottom: .75rem;
}

.weekButton {
    margin-right: 5px;
    margin-bottom: 5px;
}

.picked {
    font-weight: 900;
    text-transform: uppercase;
}

.pickCorrect{
    color: rgb(15, 180, 0);
    font-weight: 900;
    text-transform: uppercase;
}

.pickWrong {
    color: rgb(209, 2, 2);
    font-weight: 900;
    text-transform: uppercase;
}

.tableHead {
    background-color: #FFC62F;
}

.homeAway {
    font-weight: 900;
}

.userName {
    font-size: 1.25rem;
    font-weight: 900;
}

.standingsTable {
    margin-bottom: 2rem;
    border: 10px solid;
    border-color: #4F2683;
    table-layout: fixed;
}

.submittedTable {
    margin-top: 1rem;
    border: 10px solid;
}

.gameLine {
    margin-bottom: 0.5rem;
    white-space: nowrap;
}

.weeklyPicks {
    overflow:scroll;
}

.formCheck {
    color: black;
}

.vikings {
    font-weight: 900;
    color: #4F2683;
    background-color: #FFC62F;
    text-align: center;
}

.nflChat {
    font-weight: 900;
    color: white;
    background-color: #013369;
    text-align: center;
}

.sticky-col {
    position: -webkit-sticky;
    position: sticky;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    left: 0px;
    background-color: white;
    z-index: 2;
  }

.fullStandingsTable {
    overflow-x: scroll;
}