html {
    font-size: 1rem;
}

.vikingsButtons {
    margin-bottom: 1.25rem;
}

.weekButtonGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: .75rem;
}

.weekButton {
    width: 8.6875rem;
    margin-right: 5px;
    margin-bottom: 5px;
}

.picked {
    font-weight: 900;
    text-transform: uppercase;
}

.pickCorrect{
    color: rgb(15, 180, 0);
    font-weight: 900;
    text-transform: uppercase;
}

.pickWrong {
    color: rgb(209, 2, 2);
    font-weight: 900;
    text-transform: uppercase;
}

.tableHead {
    background-color: #FFC62F;
}

.away-home {
    text-align: center;
}

.userName {
    font-size: 1.25rem;
    font-weight: 900;
}

.standingsTable {
    margin-bottom: 2rem;
    border: 10px solid;
    border-color: #4F2683;
    table-layout: fixed;
}

.submittedTable {
    margin-top: 1rem;
    border: 10px solid;
}

.gameLine {
    margin-bottom: 0.5rem;
    white-space: nowrap;
}

.weeklyPicks {
    overflow:scroll;
}

.formCheck {
    color: black;
}

.vikings {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 900;
    color: #4F2683;
    background-color: #FFC62F;
    padding: 1rem 0;
}

.nflChat {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 900;
    font-weight: 900;
    color: white;
    background-color: #013369;
    padding: 1rem 0;
}

.sticky-col {
    position: -webkit-sticky;
    position: sticky;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    left: 0px;
    background-color: white;
    z-index: 2;
  }

.fullStandingsTable {
    overflow-x: scroll;
}

.box {
    margin: 0 auto;
    width: 50px;
    height: 140px;
    position: relative;
    
    .shadow {
      position: absolute;
      width: 100%;
      height: 10px;
      background-color: grey;
      bottom: 0;
      border-radius: 100%;
      transform: scaleX(.8);
      opacity: .6;
      animation: shadowScale 1s linear infinite;
    }
  }
  .gravity {
    width: 40px;
    height: 40px;
    animation: bounce 4s cubic-bezier(0.68, 0.35, 0.29, 0.54) infinite;
  }
  .ball {
    width: 40px;
    height: 40px;
    background-image: url('https://cdn2.iconfinder.com/data/icons/thesquid-ink-40-free-flat-icon-pack/64/football-512.png');
    background-size: cover;
    animation: roll .7s linear infinite;
  }
  
  @keyframes roll {
    0% {}
    100% { transform: rotate(180deg) }
  }
  @keyframes bounce {
    0% {}
    50% { transform: translateY(400px) }
    100% {}
  }
  @keyframes shadowScale {
    0% {}
    50% { transform: scaleX(1); opacity: .8;}
    100% {}
  }